.left_border
{
float:left;
}
.move_btn
{
cursor:pointer;
}
.clear_line
{
clear:both;
}
.main_table
{
width:600px;
height:500px;
border:1px solid black;
}
.txt
{
color:blue;
font-size:16pt;
font-family:Times,Arial;
}
.container
{
overflow:hidden;
float:left;
position:relative;
}