.subitem_al_slider_outter, .subitem-al-no-flick-electron{
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-o-backface-visibility: hidden;
-ms-backface-visibility: hidden;
backface-visibility: hidden;
}
.subitem-al-no-flick{
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-o-backface-visibility: hidden;
-ms-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-transform: translateZ(0);
-moz-transform: translateZ(0);
-o-transform: translateZ(0);
-ms-transform: translateZ(0);
transform: translateZ(0);

-webkit-perspective: 800px;
-moz-perspective: 800px;
-ms-perspective: 800px;
-o-perspective: 800px;
perspective: 800px;

-webkit-perspective-origin: center;
-moz-perspective-origin: center;
-ms-perspective-origin: center;
-o-perspective-origin: center;
perspective-origin: center;

-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
-o-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
transform-style: preserve-3d;
}

.subitem-al-no-flick-elem{

-webkit-backface-visibility: visible;
-moz-backface-visibility: visible;
-o-backface-visibility: visible;
-ms-backface-visibility: visible;
backface-visibility: visible;

-webkit-transform: translateZ(0);
-moz-transform: translateZ(0);
-o-transform: translateZ(0);
-ms-transform: translateZ(0);
transform: translateZ(0);

-webkit-perspective: 800px;
-moz-perspective: 800px;
-ms-perspective: 800px;
-o-perspective: 800px;
perspective: 800px;

-webkit-perspective-origin: center;
-moz-perspective-origin: center;
-ms-perspective-origin: center;
-o-perspective-origin: center;
perspective-origin: center;

-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
-o-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
transform-style: preserve-3d;

}

.flat_transf {
-webkit-transform-style: flat;
-moz-transform-style: flat;
-o-transform-style: flat;
-ms-transform-style: flat;
transform-style: flat;
}
.subitem-al-no-flick-little  {

-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-o-backface-visibility: hidden;
-ms-backface-visibility: hidden;
backface-visibility: hidden;

}

.subitem-al-no-flick-little-firefox  {
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-o-backface-visibility: hidden;
-ms-backface-visibility: hidden;
backface-visibility: hidden;

-webkit-transform: translateZ(1px);
-moz-transform: translateZ(1px);
-o-transform: translateZ(1px);
-ms-transform: translateZ(1px);
transform: translateZ(1px);

-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
-o-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
transform-style: preserve-3d;

}
.subitem-al-no-flick-small{
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-o-backface-visibility: hidden;
-ms-backface-visibility: hidden;
backface-visibility: hidden;

-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
-o-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
transform-style: preserve-3d;
}
.subitem-al-no-flick-small-safari{
/*
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-o-backface-visibility: hidden;
-ms-backface-visibility: hidden;
backface-visibility: hidden;
*/
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
-o-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
transform-style: preserve-3d;
}

.noborder {
border-style:none;
outline:none;
}
.subitem-al-no-flick-persp{
-webkit-perspective: 8px;
-moz-perspective: 8px;
-ms-perspective: 8px;
-o-perspective: 8px;
perspective: 8px;
}
.subitem-al-no-flick-atom{
/*
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-o-backface-visibility: hidden;
-ms-backface-visibility: hidden;
backface-visibility: hidden;
*/

-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
-o-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
transform-style: preserve-3d;

}

.subitem-al-no-flick-atom-firefox {
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-o-backface-visibility: hidden;
-ms-backface-visibility: hidden;
backface-visibility: hidden;

-webkit-perspective: 80px;
-moz-perspective: 80px;
-ms-perspective: 80px;
-o-perspective: 80px;
perspective: 80px;

-webkit-transform: translateZ(0);
-moz-transform: translateZ(0);
-o-transform: translateZ(0);
-ms-transform: translateZ(0);
transform: translateZ(0);

-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
-o-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
transform-style: preserve-3d;
}

.subitem-al-no-flick-atom-safari{

-webkit-backface-visibility: visible;
-moz-backface-visibility: visible;
-o-backface-visibility: visible;
-ms-backface-visibility: visible;
backface-visibility: visible;

-webkit-perspective: 8px;
-moz-perspective: 8px;
-ms-perspective: 8px;
-o-perspective: 8px;
perspective: 8px;

-webkit-transform: translateZ(0);
-moz-transform: translateZ(0);
-o-transform: translateZ(0);
-ms-transform: translateZ(0);
transform: translateZ(0);

-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
-o-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
transform-style: preserve-3d;
}

.subitem-al-no-flick-elem-safari{ 

-webkit-backface-visibility: visible;
-moz-backface-visibility: visible;
-o-backface-visibility: visible;
-ms-backface-visibility: visible;
backface-visibility: visible;

-webkit-transform: translateZ(0);
-moz-transform: translateZ(0);
-o-transform: translateZ(0);
-ms-transform: translateZ(0);
transform: translateZ(0);

-webkit-perspective: 800px;
-moz-perspective: 800px;
-ms-perspective: 800px;
-o-perspective: 800px;
perspective: 800px;

-webkit-perspective-origin: center;
-moz-perspective-origin: center;
-ms-perspective-origin: center;
-o-perspective-origin: center;
perspective-origin: center;

-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
-o-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
transform-style: preserve-3d;
}

.subitem-al-no-flick-little-safari{ 

-webkit-backface-visibility: visible;
-moz-backface-visibility: visible;
-o-backface-visibility: visible;
-ms-backface-visibility: visible;
backface-visibility: visible;
/*
-webkit-transform: translateZ(0);
-moz-transform: translateZ(0);
-o-transform: translateZ(0);
-ms-transform: translateZ(0);
transform: translateZ(0);

-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
-o-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
transform-style: preserve-3d;
*/
}
.subitem-al-no-flick-img-firefox
{
-webkit-transform: translateZ(1px);
-moz-transform: translateZ(1px);
-o-transform: translateZ(1px);
-ms-transform: translateZ(1px);
transform: translateZ(1px);
}
.subitem_al_flip_parent {

-webkit-perspective: none;
-moz-perspective: none;
-ms-perspective: none;
-o-perspective: none;
perspective: none;

-webkit-transform-style: flat;
-moz-transform-style: flat;
-o-transform-style: flat;
-ms-transform-style: flat;
transform-style: flat;


}
.subitem_al_flip {
/*
-webkit-transform: perspective(800px);
-moz-transform: perspective(800px);
-ms-transform: perspective(800px);
-o-transform: perspective(800px);
transform: perspective(800px);
*/
/*
-webkit-backface-visibility: visible;
-moz-backface-visibility: visible;
-o-backface-visibility: visible;
-ms-backface-visibility: visible;
backface-visibility: visible;
*/

-webkit-perspective: 800px;
-moz-perspective: 800px;
-ms-perspective: 800px;
-o-perspective: 800px;
perspective: 800px;

-webkit-perspective-origin: center;
-moz-perspective-origin: center;
-ms-perspective-origin: center;
-o-perspective-origin: center;
perspective-origin: center;

-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
-o-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
transform-style: preserve-3d;

    position: relative;
}
.subitem_al_flip .subitem_al_card.subitem_al_flipped {
      -webkit-transform:rotateY(-90deg);
      -moz-transform:rotateY(-90deg);
      -o-transform:rotateY(-90deg);
      transform:rotateY(-90deg);

}
.subitem_al_card.subitem_al_flipped_2 {
      -webkit-transform:rotateY(0deg);
      -moz-transform:rotateY(0deg);
      -o-transform:rotateY(0deg);
      transform:rotateY(0deg);

}

.subitem_al_flip .subitem_al_card.subitem_al_flipped_back {
      -webkit-transform:rotateY(90deg);
      -moz-transform:rotateY(90deg);
      -o-transform:rotateY(90deg);
      transform:rotateY(90deg);

}
.subitem_al_card.subitem_al_flipped_back_2 {
      -webkit-transform:rotateY(0deg);
      -moz-transform:rotateY(0deg);
      -o-transform:rotateY(0deg);
      transform:rotateY(0deg);

}

.subitem_al_flip .subitem_al_card.subitem_al_flipped_vert {
      -webkit-transform:rotateX(90deg);
      -moz-transform:rotateX(90deg);
      -o-transform:rotateX(90deg);
      transform:rotateX(90deg);

}
.subitem_al_card.subitem_al_flipped_vert_2 {
      -webkit-transform:rotateX(0deg);
      -moz-transform:rotateX(0deg);
      -o-transform:rotateX(0deg);
      transform:rotateX(0deg);

}

.subitem_al_flip .subitem_al_card.subitem_al_flipped_vert_back {
      -webkit-transform:rotateX(90deg);
      -moz-transform:rotateX(90deg);
      -o-transform:rotateX(90deg);
      transform:rotateX(90deg);

}
.subitem_al_card.subitem_al_flipped_vert_back_2 {
      -webkit-transform:rotateX(0deg);
      -moz-transform:rotateX(0deg);
      -o-transform:rotateX(0deg);
      transform:rotateX(0deg);

}

.subitem_al_flip .subitem_al_card {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

}
/*
.subitem_al_card {
    -webkit-transition: all 500ms ease;
    -moz-transition:  all 500ms ease;
    -ms-transition:  all 500ms ease;
    -o-transition:  all 500ms ease;
    transition:  all 500ms ease;

}
*/
.subitem_al_flip .subitem_al_card .subitem_al_face {
  position: absolute;
  -webkit-backface-visibility: hidden ;
  -moz-backface-visibility: hidden ;
  -ms-backface-visibility: hidden ;
  -o-backface-visibility: hidden ;
  backface-visibility: hidden ;
  
  z-index: 2;
}
.subitem_al_flip .subitem_al_card .subitem_al_front {
  position: absolute;
  z-index: 1;
}
.subitem_al_flip .subitem_al_card .subitem_al_back {
/*
      -webkit-transform:rotateY(-90deg);
      -moz-transform:rotateY(-90deg);
      -o-transform:rotateY(-90deg);
      transform:rotateY(-90deg);
*/
}

.subitem_al_left_border
{
float:left;
}
.subitem_al_move_btn
{
cursor:pointer;
}
.subitem_al_clear_line
{
clear:both;
}
.subitem_al_main_table
{
width:600px;
height:500px;
border:1px solid black;
}
.subitem_al_container
{
overflow:hidden;
float:left;
position:relative;
}
/*
.subitem_al_txt
{
color:blue;
font-size:16pt;
font-family:Times,Arial;
}
*/
.subitem_al_group_elem
{
position:absolute;
left:0;
top:0;

      -webkit-transform:rotate3d(0,0,0,0deg);
      -moz-transform:rotate3d(0,0,0,0deg);
      -o-transform:rotate3d(0,0,0,0deg);
      -ms-transform:rotate3d(0,0,0,0deg);
      transform:rotate3d(0,0,0,0deg);
      /*
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -o-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
*/
      -webkit-transform-origin : 50% 50%;
      -moz-transform-origin : 50% 50%;
      -o-transform-origin : 50% 50%;
      -ms-transform-origin : 50% 50%;
      transform-origin : 50% 50%;
      /*
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);

  filter: alpha(opacity=100);
*/

  -khtml-opacity: 1;

  opacity: 1;

}
.subitem_al_wrapper
{
display:block;
overflow:hidden;
}
.subitem_al_outter_wrapper
{
display:table;
table-layout:fixed;
width:inherit;
height:inherit;
}
.subitem_al_outter_wrapper_slider
{
display:table-cell;
width:100%;
/*display: block; *//*margin: 0 auto;*/
}
.subitem_al_outter_wrapper_slider_inside
{
display:block;
/*display: block; *//*margin: 0 auto;*/
}

.subitem_al_txt
{
position: absolute;
/*top:100px;
left:250px;*/
}
.subitem_al_img
{
position: absolute;
}

.subitem_al_item
{
position: absolute;
top:0px;
left:0px;
/*height:420px;*/
/*visibility:hidden;*/
display:none;
}
.subitem_al_subitem
{
position: absolute;
top:0px;
left:0px;
}
.subitem_al_slide1
{
position: absolute;
top:0px;
left:0px;
display:none;
z-index:0;
}
.subitem_al_first
{
}
.subitem_al_second
{
margin-left:50%;
width:0%;
}
.subitem_al_slider_main
{
padding:0;
margin:0 auto;
}
.subitem_al_arrow
{
position: absolute;
float:left;
z-index:1000;
display:none;
/*
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);

  filter: alpha(opacity=40);

  -moz-opacity: 0.4;
*/
  /* Safari 1.x */
  -khtml-opacity: 0.4;

  /* Good browsers */
  opacity: 0.4;
}
.subitem_al_arrow_left
{
position:absolute;
left:5px;
cursor:pointer;
z-index:110;
}
.subitem_al_arrow_right
{
position:absolute;
cursor:pointer;
z-index:110;
}